<%page expression_filter="h"/>
<%inherit file="main.html" />
<%namespace name='static' file='static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from django.urls import reverse

from openedx.core.djangolib.markup import HTML, Text
%>
<style>
div.banner {
  background-size: cover; 
}
h1.banner {
  color: white;
  font-family: : Georgia,Cambria,"Times New Roman",Times,serif;
  font-size: 3vw;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: 1s h-banner-slide-up;
}
p.banner {
  color: white;
  font-family: : Georgia,Cambria,"Times New Roman",Times,serif;
  font-size: 1.5vw;
  align: center;
  position: absolute;
  left: 50%;
  top: 32.5%;
  transform: translate(-50%, -50%);
  animation: 1s p-banner-slide-up;
}
img.banner {
  max-width: 100%;￼
  max-height: 100%;
}



@keyframes p-banner-slide-up {
  from {
    top: 40%; 
    opacity: 0;
  }

  to {
    top: 32.5%;
    opacity: 1;
  }
}

@keyframes h-banner-slide-up {
  from {
    top: 32.5%; 
    opacity: 0;
  }

  to {
    top: 25%;
    opacity: 1;
  }
}


</style>
<div>
  <img class="banner" src="${static.url("images/banner_smaller2.png")}" alt="My Awesome Image"/>
  <h1 class="banner"> Welcome to Math Challenge! </h1>
  <p class="banner">by Metrobank-MTAP-DepEd</p> 
</div>
<main id="main" aria-label="Content" tabindex="-1">
    <section class="home">
      <%include file="${courses_list}" />
    </section>
</main>

% if show_homepage_promo_video:
  <section id="video-modal" class="modal home-page-video-modal video-modal">
    <div class="inner-wrapper">
      <iframe title="YouTube Video" width="640" height="360" src="//www.youtube.com/embed/${homepage_promo_video_youtube_id}?showinfo=0" frameborder="0" allowfullscreen></iframe>
    </div>
  </section>
% endif

<%block name="js_extra">
   <script type="text/javascript">
      $(window).load(function() {
         if(getParameterByName('next')) {
              $('#login').trigger("click");
         }
      })
   </script>
</%block>

% if show_signup_immediately is not UNDEFINED:
  ## NOTE: This won't work in production, because anonymous views are cached, so it will
  ## show either with or without this extra js for 3 minutes at a time.
<script type="text/javascript">
  $(window).load(function() {$('#signup_action').trigger("click");});
</script>
% endif
